*{
  box-sizing:border-box;
}

body,html{
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  text-align: center;
}

#App{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.container{
  width: 100%;
  display: flex;
  flex-flow:column;
}
ul,li{
  list-style:none;
  padding: 0;
  margin:0;
}

table{
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  margin:30px auto;
}

tbody>tr>td{
  border: 1px solid #ddd;
  padding: 1em;
}